<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Word</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Welcome to the "Pig Latinizer!"</h2>
    <p>Translated phrase: <%= @piglatin %></p>
  </body>
</html>