<h1>Pig Latinizer!</h1>
    <form action='/piglatinize' method='POST'>
      <p><label for="user_phrase">Enter your phrase:</label>
      <input type="text" name="user_phrase"/> </p>
      <input type="submit" value="Ubmitsay">
    </form>